body {
  font-family: "piepie", sans-serif; /* Adobe font */
  background: #396679;
  color: #F8E2B4;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.header-row {
  position: relative;
  display: flex;
  justify-content: center; /* center h1 */
  align-items: center;
  padding-top: 2rem;
}

.header-row h1 {
  font-size: 6.8rem;
  letter-spacing: 4px;
  margin: 0;
  color: #F8E2B4;
  text-align: center;
}

.live-clock {
  position: absolute;
  right: 3rem;   /* keep it on the far right */
  top: 50%;
  transform: translateY(-50%); /* vertical center with the h1 */
  font-size: 3rem;
  font-weight: 700;
  color: #F8E2B4;
  letter-spacing: 0.5px;
  pointer-events: none;
}

#timetable-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #396679; /* same as body */
  overflow: hidden;     /* prevents scrollbars */
}

#timetable {
  /* Original design size on 1920x1080 */
  width: 1920px;
  height: 1080px;

  /* Scale to fit screen while maintaining aspect ratio */
  transform: scale(calc(100vw / 1920));
  transform-origin: top left; /* scale from top left corner */
}

#timetable .grid {
  display: grid;
  grid-template-columns: 1.4fr 1.9fr 1.5fr; /* Time | Info | Place */
  grid-auto-rows: minmax(40px, auto); /* flexible row height */
  gap: 0px; /* spacing without lines */
  max-width: 800px;
  margin: 0 auto;
}

/* Span Classes */
.session-title {
  color: #F5B75B;   
  font-weight: bold;
  font-size: 1.2rem;
}


.cell {
  padding-top: 0.5rem;
  background: #396679;
  border-radius: 0px;
}

.time {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  color: #F8E2B4;
}

.info {
  text-align: left;
  font-size: 0.8rem;
}

.place { 
  font-size: 1.2rem;
  text-align: left; 
  color: #F8E2B4; 
  padding-left: 2rem;
}

/* Live Time Change */
.active-row {
  color: #F5B75B;
  font-weight: bold;
}

