body {
  font-family: "piepie", sans-serif; /* Adobe font */
  background: #396679;
  color: #F8E2B4;
  padding: 0;
  margin: 0;
  line-height: 1;
}

/* Header */
.header-row {
  position: relative;
  display: flex;
  justify-content: center; /* center h1 */
  align-items: center;
  padding-top: 1vh;
}

.header-row h1 {
  font-size: 6vw; /* scales with screen width */
  letter-spacing: 0.3vw;
  margin: 0;
  color: #F8E2B4;
  text-align: center;
}

.live-clock {
  position: absolute;
  right: 3vw;   
  top: 50%;
  transform: translateY(-50%);
  font-size: 3vw;
  font-weight: 700;
  color: #F8E2B4;
  letter-spacing: 0.05vw;
  pointer-events: none;
}

/* Wrapper */
#timetable-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #396679; 
  overflow: hidden;
}

#timetable {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:flex-start;
}

#timetable .grid {
  display: grid;
  grid-template-columns: 12vw 19vw 8vw; /* Time | Info | Place */
  grid-auto-rows: minmax(4vh, auto); 
  gap: 0px; 
  max-width: 80vw;
  margin: 0 auto;
}

/* Span Classes */
.session-title {
  color: #F5B75B;   
  font-weight: bold;
  font-size: 1vw;
}

.cell {
  padding-top: 0.5vh;
  background: #396679;
  border-radius: 0px;
}

.time {
  font-size: 1vw;
  font-weight: bold;
  text-align: left;
  color: #F8E2B4;
}

.info {
  text-align: left;
  font-size: 0.8vw;
}

.place { 
  font-size: 1vw;
  text-align: left; 
  color: #F8E2B4; 
  padding-left: 2vw;
}

/* Live Time Change */
.active-row {
  color: #F7A278;
  font-weight: bold;
}

.active-session {
  color: #F7A278; 
  font-weight: bold;
}

/* Now on Text */
.cell.time {
  position: relative; 
}

.time-text {
  display: inline-block; 
  position: relative;
}

.now-on-label {
  position: absolute;
  left: -7vw; 
  top: 0;    
  font-size: 1vw;
  font-weight: bold;
  color: #F7A278;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.now-on-label.show {
  opacity: 1;
}

/* QR Code */
#qr-container {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  width: 8vw;          
  text-align: center;    
  z-index: 1000;
  background-color: #F8E2B4;
  border-radius: 0.5em;
  padding: 0.5vh;
}

#qr-code {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 0.5em;
}

#qr-text {
  font-size: 1vw;    
  color: #396679;         
  margin-top: 0.5vh;
  margin-bottom: 1vh;       
  line-height: 1.2;
}
