body {
  font-family: "piepie", sans-serif; /* Adobe font */
  background: #396679;
  color: #333;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #2c3e50;
}

#timetable .grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* Time | Info | Place */
  grid-auto-rows: minmax(80px, auto); /* flexible row height */
  gap: 20px; /* spacing without lines */
  max-width: 900px;
  margin: 0 auto;
}

.cell {
  padding: 10px;
  background: #396679;
  border-radius: 10px;
}

.time {
  font-weight: bold;
  text-align: center;
}

.info {
  line-height: 1.5;
}

.place {
  font-style: italic;
  text-align: center;
}
